<div class="jumbotron text-center">
	<h1>Blokken beheren</h1>
	<div class="col-lg-6">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for..." ng-model="searchTerm">
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Blok</th>
				<th>Omschrijving</th>
				<th>Jaar</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			<!-- FOREACH item IN items -->
			<tr ng-repeat="blok in blokken | filter: searchTerm track by $index">
				<td class="col-md-1">
					<span ng-hide="blok.updating">{{blok.periode}}</span>
					<input type="text" ng-model="blok.periode" ng-show="blok.updating">

				</td>
				<td class="col-md-1">
					<span ng-hide="blok.updating">{{blok.omschrijving}}</span>
					<input type="text" ng-model="blok.omschrijving" ng-show="blok.updating"> 
				</td>
				<td class="col-md-1">
					<span ng-hide="blok.updating">{{blok.jaar}}</span>
					<input type="text" ng-model="blok.jaar" ng-show="blok.updating">
				</td>
				<td class="col-md-1">
					<button type="button" class="btn btn-success" ng-click="updateItem(blok)" ng-show="blok.updating">Save</button>

					<button type="button" class="btn btn-warning" ng-click="blok.updating=true;" ng-hide="blok.updating">Update</button>

					<button type="button" class="btn btn-danger" ng-click="deleteItem(blok)">Delete</button>
				</td>
			</tr>

		</tbody>
	</table>

	<hr>

	<form>
		<div class="form-group">
			<label for="itemInput">Should do item</label>
			<input type="text" class="form-control" id="itemInput" placeholder="periode" ng-model="newItem.periode">
			<input type="text" class="form-control" id="itemInput" placeholder="omschrijving" ng-model="newItem.omschrijving">
			<input type="text" class="form-control" id="itemInput" placeholder="jaar" ng-model="newItem.jaar">
		</div>
		<div class="form-group">
		</select>
		</div>

		
		<button type="submit" class="btn btn-primary" ng-click="saveNewItem()">Save</button>
	</form>

</div>